<h2> {{ currentHero.id ? 'Editar' : 'Crear' }} Heroe <b> {{currentHero.superhero}} </b> </h2>

<mat-divider class="mb-5" ></mat-divider>

<div class="grid">

  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <form class="grid" [formGroup]="heroForm" (ngSubmit)="onSubmit()" >
          <mat-form-field class="col-12 sm:col-6 ">
            <mat-label>Super Heroe</mat-label>
            <input
              type="text"
              matInput
              required
              formControlName="superhero">
          </mat-form-field>
          <mat-form-field class="col-12 sm:col-6 ">
            <mat-label>Alter ego</mat-label>
            <input
              type="text"
              matInput
              required
              formControlName="alter_ego">
          </mat-form-field>

          <mat-form-field class="col-12 ">
            <mat-label>Primera aparicion</mat-label>
            <input
              type="text"
              matInput
              required
              formControlName="first_appearance">
          </mat-form-field>

          <mat-form-field class="col-12 ">
            <mat-label>Personajes</mat-label>
            <input
              type="text"
              matInput
              required
              formControlName="characters">
          </mat-form-field>

          <mat-form-field class="col-12 ">
            <mat-label>Creador</mat-label>
            <mat-select
              required
              formControlName="publisher">
              <mat-option *ngFor="let publisher of publishers" [value]="publisher.id" >
                {{publisher.desc}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12 ">
            <mat-label>Url de la nueva imagen</mat-label>
            <input
              type="text"
              matInput
              formControlName="alt_img">
          </mat-form-field>

        </form>

      </mat-card-content>
      <mat-card-actions class="flex justify-content-around ">
        <button
          *ngIf="currentHero.id"
          mat-flat-button
          color="warn"
          (click)="onDelete('500ms','500ms')" >
          Eliminar
        </button>
        <button
          mat-flat-button
          color="primary"
          (click)="onSubmit()">
          <mat-icon>save</mat-icon>
          Guardar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6">
    <mat-card>
      <img [src]=" currentHero | HeroImage " alt="imagen de super heroe" mat-card-image>
    </mat-card>
  </div>

</div>

<pre>
  {{currentHero | json}}
</pre>
